@use "../settings/variables";
@use "../tools/functions";

@mixin input-base($border: variables.$gray-color-1, $focus-border-color: grey) {
  background: #{functions.light-dark(variables.$accent-color, variables.$accent-color)};
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  margin: 0.2rem 0 0.1rem 0;
  height: 3.2rem;
  padding: 1rem;
}
